# Build artifacts
target/
build/

# IDE-specific files and directories
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# Git-related files
.git/
.gitignore

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

*.jar.original # Maven backup files
*.bak
*.swp

**/*.env