# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp.*
.npm/

# TypeScript
*.tsbuildinfo

# Build outputs
dist/
build/
out/

# React
#.env
#.env.*
.next/ # If using Next.js
.cache/ # If using Create React App or similar build tools

# Version control
.git/
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor/IDE
.vscode/
.idea/
*.swp
*.bak
*~
*.log

# OS
.DS_Store
Thumbs.db